.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.products:hover {
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.products > img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
}

.product_price {
  margin-top: 5px;
}

.product_rating {
  display: flex;
}

.btn {
  background-color: #ffd814 !important;
  color: black !important;
  border: none !important;
  height: 31px !important;
  width: 200px !important;
  border-radius: 10px !important;
  cursor: pointer !important;
}
