.CartProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.product_info {
  padding-left: 20px;
}

.product_title {
  font-size: 16px;
  font-weight: 700;
}

.product_rating {
  display: flex;
}

.btn {
  background-color: #ffd814;
  border: none;
  height: 31px;
  width: 130px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
